<div class="container">
  <app-header
    class = header
    [withThemeSwitch]="false"
    [withAvatar]="false"
  >
    <div class="arrow" (click)="dismiss()">
      <svg-icon
        src="/assets/Icons/tabs/arrowLeft.svg"
        [svgStyle]="{
          'height.vh': 3.9,
          'width.vh': 3.9
        }"
      ></svg-icon>
    </div>
    <div class="title">Новая верификация</div>
  </app-header>

  <div class="content">
    <div
      class="select-container select-container_active"
    >
      <div class="select-title">Производство</div>
      <div
        class="dropdown"
        [ngStyle]="{
          'z-index': 9003
        }"
        [class.dropdown_expanded]="dropdownExpand.manufacture"
        (click)="toggleDropdown('manufacture')"
      >
        <div class="current">
          {{currentValues?.manufacture?.name || 'Выберите производство'}}
          <svg-icon
            src="/assets/Icons/tabs/arrowDown.svg"
            [svgStyle]="{
              'height.vh': 3.9,
              'width.vh': 3.9
            }"
          ></svg-icon>
        </div>
        <div
          class="dropdown-list"
          [@rows]="dropdownExpand.manufacture ? 'expanded' : 'collapsed'"
        >
          <div
            class="dropdown__item"
            *ngFor="let manufacture of (dropdownService.manufactureList$ | async); let i = index"
            (click)="chooseItem(i, 'manufacture')"
          >{{manufacture?.name}}</div>
        </div>
      </div>
    </div>

    <div
      class="select-container"
      [class.select-container_active]="currentValues?.manufacture"
    >
      <div class="select-title">Установка</div>
      <div
        class="dropdown"
        [ngStyle]="{
          'z-index': 9002
        }"
        [class.dropdown_expanded]="dropdownExpand.machine"
        (click)="toggleDropdown('machine')"
      >
        <div class="current">
          {{currentValues?.machine?.name || 'Выберите установку'}}
          <svg-icon
            src="/assets/Icons/tabs/arrowDown.svg"
            [svgStyle]="{
              'height.vh': 3.9,
              'width.vh': 3.9
            }"
          ></svg-icon>
        </div>
        <div
          class="dropdown-list"
          [@rows]="dropdownExpand.machine ? 'expanded' : 'collapsed'"
        >
          <div
            class="dropdown__item"
            *ngFor="let machine of (dropdownService.machineList$ | async); let i = index"
            (click)="chooseItem(i, 'machine')"
          >{{machine?.name}}</div>
        </div>
      </div>
    </div>

    <div
      class="select-container"
      [class.select-container_active]="currentValues?.machine"
    >
      <div class="select-title">ПАК</div>
      <div
        class="dropdown"
        [ngStyle]="{
          'z-index': 9001
        }"
        [class.dropdown_expanded]="dropdownExpand.pak"
        (click)="toggleDropdown('pak')"
      >
        <div class="current">
          {{currentValues?.pak?.position_name || 'Выберите ПАК'}}
          <svg-icon
            src="/assets/Icons/tabs/arrowDown.svg"
            [svgStyle]="{
              'height.vh': 3.9,
              'width.vh': 3.9
            }"
          ></svg-icon>
        </div>
        <div
          class="dropdown-list"
          [@rows]="dropdownExpand.pak ? 'expanded' : 'collapsed'"
        >
          <div
            class="dropdown__item"
            *ngFor="let pak of (dropdownService.pakList$ | async); let i = index"
            (click)="chooseItem(i, 'pak')"
          >{{pak?.position_name}}</div>
        </div>
      </div>
    </div>

    <div
      class="select-container"
      [class.select-container_active]="currentValues.pak"
    >
      <div class="select-title">Показатель качества</div>

      <div
        class="checkbox-container"
        [ngStyle]="{
          'z-index': 9000
        }"
      >
        <div class="checkbox-item" *ngFor="let quality of (dropdownService.qualityList$ | async)">
          <div class="checkbox">
            <ion-checkbox color="primary" [(ngModel)]="quality.chosen"></ion-checkbox>
          </div>
          <div class="checkbox-item__name">{{quality.name}}</div>
        </div>
      </div>
    </div>

    <div class="btn-container">
      <button
        (click)="openVerificationType()"
        class="btn btn-next"
        [disabled]="!currentValues.pak"
      >Далее</button>

      <button
        (click)="dismiss()"
        class="btn btn-cancel"
      >Отменить</button>
    </div>
  </div>
</div>
