<div class="container">
  <app-header>
    <div class="arrow" (click)="back()">
      <svg-icon
        src="/assets/Icons/tabs/arrowLeft.svg"
        [svgStyle]="{
          'height.vh': 3.9,
          'width.vh': 3.9
        }"
      ></svg-icon>
    </div>
    <div class="title">{{(currentTask$ | async)?.num | splitNumberSign}}</div>
  </app-header>

  <div class="content">
    <app-step-progress-bar [stepsCount]="4" [activeStepIndex]="0"></app-step-progress-bar>

    <div class="task=info-block">
      <div class="canister-container">
        <div class="info">
          <div class="content-text-block">
            <span class="gray-text">Установка: <span class="light-text">{{(currentTask$ | async)?.manufacture}}</span></span>
          </div>
          <div class="content-text-block">
            <span class="gray-text">Тип верификации: <span class="light-text">{{(currentTask$ | async)?.verificationType}}</span></span>
          </div>
        </div>
        <svg-icon
          class="canister"
          src="assets/Icons/tabs/tasks-tab/canister.svg"
          [svgStyle]="{
            'width.vh': 6.2,
            'height.vh': 6.2
          }"
        ></svg-icon>
      </div>

      <div class="content-text-block">
        <span class="light-text">
          Отсканируйте NFC метку для подтверждения отбора
        </span>
      </div>

      <div class="nfc-icon-block">
        <svg-icon
          src="assets/Icons/nfc/nfc_icon.svg"
          [svgStyle]="{
              'width': '34vh',
              'height': '34vh'
            }"
        ></svg-icon>
      </div>
    </div>

    <button class="btn btn_activateNFC" (click)="enableNfc()">Отсканировать метку</button>
    <button class="btn" disabled>Завершить задание</button>
  </div>
</div>

