<app-header
  [withCalendar]="true"
>
  <span class="header__title">Статистика</span>
</app-header>
<div class="container">
  <div class="chart-container">
    <div class="chart" #chart>
      <svg-icon
        src="assets/Icons/tabs/main-tab/mask.svg"
        [svgStyle]="{
          'height': '49vh',
          'width': '49vh'
        }"
      ></svg-icon>
      <div class="chart-info">
        <span class="chart__title">Количество заданий,</span>
        <span class="chart__unit">шт</span>
        <span class="chart__total">{{(diagramData$ | async).total}}</span>
        <div class="chart__date">{{(diagramData$ | async).date | date:'dd.MM.YYYY'}}</div>
      </div>
    </div>
  </div>
  <div class="description">
    <div
      class="description-item"
      *ngFor="let item of (diagramData$ | async).sections"
      [style.borderColor]="item.color"
      (click)="redirectToTab(item.name)"
    >
      <span class="title">{{item.name}}</span>
      <span class="value">{{item?.showValue || item.value}}</span>
    </div>

    <div class="add-container" (click)="addVerification()">+</div>
  </div>

  <div class="shadow shadow__first"></div>
  <div class="shadow"></div>
</div>
