@import "src/theme/functions";
* {
  box-sizing: border-box;
}


.header__title {
  margin-left: sizeWidth(40);
  font-weight: 500;
  font-size: sizeHeight(36);

  color: var(--text-contrast-color);
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  position: relative;

  .chart-container {
    height: 58vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .chart {
      height: 49vh;
      width: 49vh;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      svg-icon {
        position: absolute;
        color: var(--chart-segment-color)
      }

      .chart-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;

        .chart__title, .chart__unit, .chart__date {
          font-weight: 500;
          font-size: sizeHeight(30);
          text-align: center;
          color: var(--text-main-color);
        }

        .chart__total {
          font-weight: 500;
          font-size: sizeHeight(124);
          color: var(--text-accent-color);
        }
      }
    }
  }

  .description {
    width: 100%;
    padding: 0 sizeWidth(60);

    display: flex;
    align-items: center;
    gap: sizeWidth(50);

    &-item {
      height: sizeHeight(170);
      width: sizeWidth(200);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: sizeHeight(10);

      background: var(--bg-header-color);
      border-left: sizeWidth(8) solid var(--index-fact-color);
      border-radius: sizeHeight(8);

      filter: drop-shadow(0px 0px sizeHeight(20) var(--gradient-main-color-1));

      .title {
        font-size: sizeHeight(28);
        color: var(--text-main-color);
      }

      .value {
        font-size: sizeHeight(64);
        color: var(--text-accent-color);
      }
    }

    .add-container {
      height: sizeHeight(90);
      width: sizeHeight(90);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border-radius: 50%;
      background: var(--border-blue-color);
      filter: drop-shadow(0px 0px sizeHeight(20) var(--gradient-main-color-1));

      font-size: sizeHeight(64);
      line-height: sizeHeight(77);
      text-align: center;
      color: var(--text-alwaysWhite-color);
    }
  }

  .shadow {
    height: sizeHeight(20);
    width: 100%;

    background: linear-gradient(0deg, var(--gradient-main-color-1) -0.04%, var(--gradient-main-color-2) 99.96%);
    position: absolute;
    bottom: 0;

    &__first {
      top: 0vh;
      background: linear-gradient(180deg, var(--gradient-main-color-1) -0.04%, var(--gradient-main-color-2) 99.96%);
    }
  }
}
