<div class="container">
  <app-header
    class = header
    [withThemeSwitch]="true"
    [withAvatar]="false"
  >
    <div class="arrow" (click)="dismiss()">
      <svg-icon
        src="/assets/Icons/tabs/arrowLeft.svg"
        [svgStyle]="{
          'height.vh': 3.9,
          'width.vh': 3.9
        }"
      ></svg-icon>
    </div>
    <div class="title">Назад</div>
  </app-header>
  <div class="tabs-container">
    <div *ngFor="let tab of tabs; let i = index"
         class="tab"
         [class.tab_active]="i === (userInfo.currentTab$ | async)"
         (click)="selectTab(i)"
    >
      <span>{{tab}}</span>
    </div>
  </div>
  <div class="content">
    <span class="user">
      {{userInfo.currentUser.lastName + ' ' + userInfo.currentUser.firstName + ' ' + userInfo.currentUser.patronymic}}
    </span>
    <span class="position">{{userInfo.currentUser.position}}</span>
    <button class="btn" (click)="changeUser()">Сменить пользователя</button>
  </div>
</div>
