<div class="item">
  <div class="chart">
    {{data.endTime | date:'hh:mm'}}
  </div>
  <div class="description">
    <div class="description__title">
      <span class="number">№ {{data?.id}}</span>
      <svg-icon
        src="assets/Icons/tabs/ready-tab/edit.svg"
        [svgStyle]="{
          'width.vh': 3.9,
          'height.vh': 3.9
        }"
        (click)="openAccept()"
      ></svg-icon>
    </div>
    <div class="description__item">
      Установка: &nbsp;<span class="value">{{data?.plantName}}</span>
    </div>
    <div class="description__item">
      Тип верификации: &nbsp;<span class="value">{{data.typeVerification}}</span>
    </div>
    <div class="description__item">
      Результат: &nbsp;<span class="value">{{data.isApproved}}</span>
    </div>
  </div>
</div>
