<div class="container">
  <div
    class="select-container"
  >
    <div class="select-title" >Тип верификации</div>
    <div
      class="dropdown"
      [class.dropdown_expanded]="dropdownExpand"
      (click)="toggleDropdown()"
    >
      <div class="current">
        {{currentValue?.name || 'Выберите верификацию'}}
        <svg-icon
          src="/assets/Icons/tabs/arrowDown.svg"
          [svgStyle]="{
              'height.vh': 3.9,
              'width.vh': 3.9
          }"
        ></svg-icon>
      </div>
      <div class="dropdown-list">
        <div
          class="dropdown__item"
          *ngFor="let type of (dropdownService.verificationList$ | async); let i = index"
          (click)="chooseItem(i)"
        >{{type.name}}</div>
      </div>
    </div>
  </div>

  <form class="date" [formGroup]="dateForm">
    <div class="day">
      <div class="title">Плановая дата</div>
      <div class="input-content">
        <svg-icon
          src="assets/Icons/header/calendar.svg"
          [svgStyle]="{
              'height.vh': 3.9,
              'width.vh': 3.9
          }"
        ></svg-icon>
        <input formControlName="day" class="value">
      </div>
    </div>
    <div class="day">
      <div class="title">Плановое время</div>
      <div class="input-content">
        <svg-icon
          src="assets/Icons/header/timer.svg"
          [svgStyle]="{
              'height.vh': 3.9,
              'width.vh': 3.9
          }"
        ></svg-icon>
        <input formControlName="time" class="value">
      </div>
    </div>
  </form>

  <div class="btn-container">
    <button
      (click)="accept()"
      class="btn btn-next"
      [disabled]="!currentValue"
    >Сформировать задание</button>
  </div>
</div>
