@import "src/theme/functions";
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;

  .title {
    margin-left: sizeWidth(70);

    font-size: sizeHeight(42);
    color: var(--text-contrast-color);
  }

  .content {
    height: 83vh;
    padding: sizeHeight(15) 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: sizeHeight(20);
  }

  .shadow {
    height: sizeHeight(20);
    width: 100%;

    background: linear-gradient(0deg, var(--gradient-main-color-1) -0.04%, var(--gradient-main-color-2) 99.96%);
    position: absolute;
    bottom: 0;

    &__first {
      top: 10vh;
      background: linear-gradient(180deg, var(--gradient-main-color-1) -0.04%, var(--gradient-main-color-2) 99.96%);
    }
  }
}
