<div
  class="item"
  [ngClass]="{
    'item_initiated': isInitiated,
    'item_active': isActive
  }"
>
  <div class="description">
    <div class="description__title">
      <span class="number">№ {{data.id}}</span>
      <span class="date">{{data.plantDatetime | date:'HH:mm dd.MM'}}</span>
      <svg-icon
        src="assets/Icons/tabs/tasks-tab/canister.svg"
        [svgStyle]="{
          'width.vh': 3.9,
          'height.vh': 3.9
        }"
      ></svg-icon>
    </div>
    <div class="description__item">
      Установка: <span class="value">{{data.plantName}}</span>
    </div>
    <div class="description__item">
      Тип верификации: <span class="value">{{data.typeVerification}}</span>
    </div>
    <div class="description__fraction">{{data.productName}}</div>
  </div>
</div>
