<div class="container">
  <div class="slider"></div>
  <div class="content">
    <div class="description">
      <div class="description__title">
        <span class="number">№ {{data?.id}}</span>
        <span class="number date">{{data.end_filling_timestamp | date:'hh:mm'}}</span>
      </div>
      <div class="description__item">
        Установка: <span class="value">{{data?.plantName}}</span>
      </div>
      <div class="description__item">
        Тип верификации: <span class="value">{{data?.typeVerification}}</span>
      </div>
      <div class="description__title">
        Результат
      </div>
    </div>

    <div class="date" *ngFor="let prop of data?.selected_quality">
      <div class="property property__main">
        <div class="title">{{prop.parameter_name}}</div>
        <div class="input-content">
          <input [(ngModel)]="prop.value" type="number" class="value">
        </div>
      </div>
      <div class="property property__error">
        <div class="title">Погрешность</div>
        <div class="input-content">
          <input [(ngModel)]="prop.dx" type="number" class="value">
        </div>
      </div>
    </div>

    <div class="btn-container">
      <button
        (click)="accept()"
        class="btn btn-next"
      >Выполнено</button>
    </div>
  </div>
</div>
