@import "src/theme/functions.scss";

* {
  box-sizing: border-box
}

button {
  outline: none;
  background: transparent;
  border: none;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  .title {
    margin-left: sizeWidth(20);
    font-size: sizeHeight(42);
    color: var(--text-contrast-color);
  }

  .arrow {
    height: 3.9vh;
    width: 3.9vh;
    margin-left: sizeWidth(30);

    color: var(--border-icon-color);
  }

  .content {
    height: 90vh;
    padding: sizeHeight(20) sizeWidth(40) sizeHeight(60);
    background: var(--bg-body-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 0;

    .video-container {
      margin-top: -5vh;
      width: 90%;

      display: flex;
      flex-direction: column;
      align-items: center;

      position: absolute;

      .video {
        height: sizeHeight(420);
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        color: var(--text-contrast-color);
        font-size: sizeHeight(34);
      }

      span {
        margin: sizeHeight(40) 0;
        font-size: sizeHeight(30);
        color: var(--text-contrast-color);
      }
    }

    .btn {
      height: sizeHeight(110);
      width: 100%;

      margin-top: auto;

      display: flex;
      align-items: center;
      justify-content: center;

      background: var(--bg-buttons-color);
      border-radius: sizeHeight(8);

      font-size: sizeHeight(36);
      color: var(--text-contrast-color);
    }
  }
}
