<div class="container">
  <app-header
    [withAvatar]="false"
    [withCalendar]="true"
  >
    <div
      class="tab-btn"
      [class.tab-btn_active]="i === (currentTab$ | async)"
      *ngFor="let tab of (tabs$ | async); let i = index"
      (click)="changeTab(i)"
    >{{tab}}</div>
  </app-header>
  <div class="content">
    <ng-container
      [ngSwitch]="(currentTab$ | async)"
    >
      <div
        class="tab"
        *ngSwitchCase="0"
      >
        <app-tabs-tasks-card
          *ngFor="let item of (agreeItems$ | async); let i = index"
          [data]="item"
          [isActive]="i === 0"
        ></app-tabs-tasks-card>
      </div>

      <div
        class="tab"
        *ngSwitchCase="1"
      >
        <app-tabs-tasks-card
          *ngFor="let item of (initiatedItems$ | async); let i = index"
          isInitiated="true"
          [data]="item"
        ></app-tabs-tasks-card>
      </div>
    </ng-container>
  </div>

  <div class="shadow shadow__first"></div>
  <div class="shadow"></div>
</div>
